body{
    background-color: rgb(255, 208, 185);
}

.quantity {
    width: 2rem;
}

.checkout{
    margin-left: 3rem;
}

.container-shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}

.item-shop {
    border: 4px solid rgb(116, 66, 115);
    width: 31vw;
    background-color: rgb(171, 182, 212);

}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(171, 182, 212);

}
.item {
    border: 4px solid rgb(148, 69, 69);
    width: 50vw;
}


.item-shop img{
    width: 100%;
    height: 100%;
    max-width: 33vw;
    max-height: 33vh;
    object-fit: contain;
    overflow: hidden;
}

.item-price , .item-name, .name, .price{
    position: relative;
    margin: 2vw;
    font-size: 1vw;
    max-width: 100%;
    color: rgb(92, 30, 30);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#total{
    position: relative;
    margin: 2vw;
    font-size: 2vw;
    max-width: 100%;
    color: rgb(92, 30, 30);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.add-btn{
    font-size: 1vw;
    max-width: 100%;
    margin-left: 7vw;
    margin-right: 1vw;
}

.btn, .minus , .plus , .quantity{
    font-size: 1vw;
    max-width: 100%;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}


nav {
    display: flex;
    justify-content: lefts;
  }
  
nav a , p {
    display: block;
    font-size: 2vw;
    margin: 1rem 3rem;
    text-decoration: none;
    color: rgb(92, 30, 30);
    font-weight: bold;
}
